<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="Space Engineers Plugin Loader" Language="1033" Version="!(bind.FileVersion.PluginManager.exe)" Manufacturer="Rynchodon" UpgradeCode="C1ACEBD7-FCA4-441C-91C8-F572E3CBC789">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" Platform="x64" />

		<MajorUpgrade AllowSameVersionUpgrades="yes" AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<!-- How to package files -->
		<Media Id="1" Cabinet="SpaceEngineersPluginLoader.cab" EmbedCab="yes" />

		<!-- Force overwrite of existing files -->
		<Property Id="REINSTALLMODE" Value="amus" />

		<Property Id="DIR_REMOVE_UNINSTALL">
			<RegistrySearch Id="DirRemoveUninstallProperty" Root="HKCU" Key="Software\Rynchodon\[ProductName]" Name="DirRemoveUninstall" Type="directory" />
		</Property>

		<!-- Get SE_DIRECTORY from registry -->
		<Property Id="SE_DIRECTORY">
			<RegistrySearch Id="RegistrySearch_SpaceEngineers" Type="directory" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Steam App 244850" Name="InstallLocation" />
			<RegistrySearch Id="RegistrySearchWow_SpaceEngineers" Type="directory" Root="HKLM" Key="Software\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Steam App 244850" Name="InstallLocation" />
		</Property>

		<!-- GUI -->
		<Property Id="WIXUI_INSTALLDIR" Value="SE_DIRECTORY" />
		<WixVariable Id="WixUILicenseRtf" Value="..\License.rtf" />
		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
				WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
			</Publish>
		</UI>

		<!-- Launch After Close -->
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Plugin Manager after closing setup" />
		<Property Id="WixShellExecTarget" Value="[#PluginManager.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

		<!-- Do Install -->
		<Feature Id="CompleteInstall" Level="1">
			<ComponentRef Id="PluginManagerComponent" />
			<ComponentRef Id="PluginLoaderComponent" />
			<ComponentRef Id="AppDesktopShortcutComponent" />
			<ComponentRef Id="AppStartMenuShortcutComponent" />
			<ComponentRef Id="RemoveDirUninstallComponent" />
		</Feature>
	</Product>

	<!-- SE_DIRECTORY if missing from registry -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder" Name="Games">
				<Directory Id="SteamDir" Name="Steam">
					<Directory Id="SteamAppsDir" Name="SteamApps">
						<Directory Id="commonDir" Name="common">
							<Directory Id="SE_DIRECTORY" Name="SpaceEngineers" />
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<!-- Path for desktop shortcut -->
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="AppDesktopShortcutComponent">
					<Shortcut Id="AppDesktopShortcut" Name="Plugin Manager" Target="[#PluginManager.exe]" WorkingDirectory="SpaceEngineersPluginLoader" />
					<RegistryValue Root="HKCU" Key="Software\Rynchodon\[ProductName]" Name="desktop shortcut" Type="integer" Value="1" KeyPath="yes" />
				</Component>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<!-- Path for start menu shortcut -->
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id ="ProgramMenuFolder">
				<Directory Id="AppProgramsFolder" Name="Space Engineers Plugin Loader">
					<Component Id="AppStartMenuShortcutComponent">
						<Shortcut Id="AppStartMenuShortcut" Name="Plugin Manager" Target="[#PluginManager.exe]" WorkingDirectory="SpaceEngineersPluginLoader" />
						<RemoveFolder Id="CleanupStartMenuShortcut" Directory="AppProgramsFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\Rynchodon\[ProductName]" Name="start menu shortcut" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>

	<!-- Paths for install -->
	<Fragment>
		<DirectoryRef Id="SE_DIRECTORY">
			<Directory Id="SpaceEngineersPluginLoader" Name="SpaceEngineersPluginLoader">
				<Component Id="PluginManagerComponent" Win64="yes">
					<File Source="$(var.PluginManager.TargetPath)" />
				</Component>
				<Component Id="PluginLoaderComponent" Win64="yes">
					<File Source="$(var.PluginLoader.TargetPath)" />
				</Component>
				<Component Id="RemoveDirUninstallComponent" Win64="yes">
					<RegistryValue Root="HKCU" Key="Software\Rynchodon\[ProductName]" Name="DirRemoveUninstall" Type="string" Value="[SpaceEngineersPluginLoader]" KeyPath="yes" />
					<util:RemoveFolderEx Property="DIR_REMOVE_UNINSTALL" On="uninstall" />
				</Component>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
